ADMIN_EMAILS=princeb75@gmail.com,kpochaout@gmail.com
ADMIN_UIDS=

AWS_ACCESS_KEY_ID=
AWS_COGNITO_IDENTITY_POOL_ID=
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=

BASE_URL=https://kpochatouch.com

CHATBASE_AGENT_ID=
CHATBASE_API_KEY=
CHATBASE_URL=https://www.chatbase.co

CORS_ORIGIN="https://kpochatouch.com,https://www.kpochatouch.com,https://kpochatouch.vercel.app, http://localhost:5173,https://kpochatouchs-projects-git-recovery-cc0529-kpochatouchs-projects.vercel.app,https://kpochatouchs-projects-git-recovery-6fff6b-kpochatouchs-projects.vercel.app,https://kpochatouchs-projects-git-main-kpochatouchs-projects.vercel.app,capacitor://localhost,http://localhost,https://localhost"

FACE_GATE_TTL_MS=600000
FACE_GATE_WITHDRAW_MIN_KOBO=200000000
FACE_MATCH_MIN_SIMILARITY=85

FRONTEND_ORIGIN=https://kpochatouch.vercel.app

GEOAPIFY_KEY=

ICE_STUN_URLS=stun:stun.l.google.com:19302,stun:stun1.l.google.com:19302,stun:stun.relay.metered.ca:80
ICE_TURN_PASSWORD=
ICE_TURN_URLS="turn:global.relay.metered.ca:80,turn:global.relay.metered.ca:80?transport=tcp,turn:global.relay.metered.ca:443,turns:global.relay.metered.ca:443?transport=tcp"
ICE_TURN_USERNAME=

MONGODB_URI=

OPENAI_API_KEY=

PAYSTACK_PUBLIC_KEY=pk_live_
PAYSTACK_SECRET_KEY=sk_live_

PORT=10000

R2_ACCESS_KEY=
R2_BUCKET=kpocha-media
R2_ENDPOINT=https://5fcecaed7d496fc42bcfb6f7bfbfe385.r2.cloudflarestorage.com
R2_PUBLIC_BASE_URL=https://media.kpochatouch.com
R2_SECRET_KEY=

REDIS_URL=

SERVICE_KEY_PATH=serviceAccountKey.json

VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_SUBJECT=mailto:kpochaout@gmail.com